.idea
/docs/*
/logs/*.log
*.sh
*.sql
/bin/*.php
/storage/api-docs/api-docs.json
/public/uploads/*
vendor/*


/vendor

.phpstorm.meta.phpW
_ide_helper.php


.buildpath
.project
app/pkdocs
*.key

